.data-block {
	max-width: 1050px;
	margin: auto;
	padding: 0px 25px;
	&__title {
		font-weight: bold;
		margin-bottom: 25px;
	}
	&__content {
		@include breakpoint(medium) {
			display: table;
		}
	}
	&__paragraph, &__viz {
		@include breakpoint(medium) {
			display: table-cell;
		}
	}
	&__paragraph {
		width: 100%;
		@include breakpoint(medium) {
			width: 40%;
		}
		
		vertical-align: top;
		padding-right: 25px;
		p {
			line-height: 1.6;
			color: palette-get(na-black-40);
			font-size: 16px;
		}
		&__data {
			font-weight: bold;
			color: palette-get(na-black);
		}
	}
	&__viz {
		width: 100%;
		@include breakpoint(medium) {
			width: 60%;
		}

		&__rendering-area {
			position: relative;
		}

		&__y-axis-label {
			font-weight: bold;
			font-size: 14px;
			color: palette-get(na-black);
			text-anchor: middle;
		}
	}
}

.tick {
	& > line {
		stroke: palette-get(na-black-10) !important;
		stroke-dasharray: 5, 5;
	}
	& > path {
		stroke-width: 0;
	}
}


.tooltip {
	position: absolute;
	background-color: white;
	border: 1px solid palette-get(na-black-10);
	z-index: 100;
	padding: 7px 10px;
	pointer-events: none;

	&__title, &__value {
		text-align: center;
		margin-bottom: 0px;
		font-size: 15px;
		line-height: 1.3;
	}

	&__title {
		font-weight: bold;
	}

	&__value {
		font-weight: normal;
	}
}
