.download-home-page {
	background-image: url('../img/school.jpg');
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
	color: white;

	&__title {
		text-align: center;
		font-size: 38px;
		font-weight: bold;
		color: palette-get(na-turquoise);
		padding: 25px 0px 25px;
	}

	&__description {
		max-width: 700px;
		padding: 0px 25px;
		line-height: 1.3;
		margin: auto;
		text-align: center;
	}

	&__section-container {
		display: table;
		width: 100%;
		max-width: 750px;
		padding: 45px 25px;
		margin: auto;
	}

	&__section {
		width: 50%;
		display: table-cell;
		z-index: 10;
		position: relative;

		&__title {
			text-align: center;
			z-index: 10;
			position: relative;
			font-size: 20px;
			font-weight: bold;
		}

		&__icon {
			margin: auto;
			text-align: center;

			svg {
				width: 80px;
				height: 80px;
				fill: white;
			}
		}

		&__list {
			padding: 25px;
		}

		&__item {
			display: block;
			padding: 5px 0px;
			text-align: center;

			&__label {
				color: palette-get(na-turquoise);
				font-weight: bold;
				margin-bottom: 5px;
			}

			&__text {
				cursor: pointer;
				display: inline-block;
				padding: 0px 7px;
				margin-bottom: 5px;
				&:hover {
					color: palette-get(na-turquoise);
				}
			}

			&__last-updated {
				font-size: 14px;
				line-height: 1.2;
				color: palette-get(na-black-40);
			}
		}
	}

	&__content {
		z-index: 5;
		position: relative;
		overflow: scroll;
	}

	&__overlay {
		$gradient-top: rgba(44,47,53,1);
		$gradient-bottom: rgba(44,47,53,.8);
		position: absolute;
		height: calc(100vh - #{$top-nav-height});
		width: 100%;
		z-index: 1;

		 /* fallback color if gradients are not supported */
		background-image: -webkit-linear-gradient(top, $gradient-top, $gradient-bottom); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
		background-image:    -moz-linear-gradient(top, $gradient-top, $gradient-bottom); /* For Firefox (3.6 to 15) */
		background-image:      -o-linear-gradient(top, $gradient-top, $gradient-bottom); /* For old Opera (11.1 to 12.0) */ 
		background-image:         linear-gradient(to bottom, $gradient-top, $gradient-bottom); /* Standard syntax; must be last */
	}
}