$vertical-padding: 1.4em;

.landing-page {
	height: 100%;
	position: relative;
	color: white;
	background-image: url('../img/school.jpg');
	background-size: cover;
	background-position: 50% 50%;
	font-size: 2vw;
	@media screen and (min-width: 750px) {
		font-size: 15px;
	}
	/* 1000px => 20, 500px => 10*/

	&::before {
		display: block;
	    content:"";
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    background-color: rgba(0, 0, 0, .5);
	    z-index: 1;
	    overflow: hidden;
	}

	&__content {
		z-index: 2;
		text-align: center;
		padding: 0 1em;
		@include center-vertical;

		.icon__new-america {
			width: 7em;
			min-width: 90px;
			fill: white;
			height: auto;
		}
	}

	&__home-link, &__title, &__explore-links, &__methodology-links {
		padding: $vertical-padding 0;

		@media screen and (max-width: 750px) {
			padding: 15px 0;
		}
	}

	&__explore-link, &__methodology-link {
		display: inline-block;
		.icon {
			fill: white;
		}

		a:hover {
			.landing-page__explore-link__secondary, .landing-page__explore-link__primary, .landing-page__methodology-link__primary {
				color: palette-get(na-turquoise);
			}
			.icon {
				fill: palette-get(na-turquoise);
			}
		}
	}

	&__explore-link {
		padding: 0em 3em;
		
		&:first-child {
			border-right: $standard-border;
		}
		&:last-child {
			border-left: $standard-border;
		}

		.icon {
			height: auto;
			width: 1.7em;
			max-width: 100px;
			min-width: 30px;
		}

		&__secondary {
			font-size: .7em;
			margin-bottom: 0;
			color: white;
			line-height: 1.4;
		}
		&__primary {
			font-weight: bold;
			font-size: .9em;
			color: white;
			line-height: 1;
		}
	}

	&__methodology-link {
		padding: 0 1.7em;

		.icon {
			height: auto;
			width: 1.5em;
			max-width: 100px;
			min-width: 30px;
		}

		&__primary {
			font-weight: bold;
			font-size: .9em;
			color: white;
			position: relative;
			bottom: .1em;
			padding-left: .9em;
		}

		&__primary, .icon {
			display: inline-block;
		}
	}


	&__title {
		padding: $vertical-padding 0;
		margin: auto;
		
		svg {
			fill: white;
			stroke: white;
			/*height: 2em;*/
			height: auto;
			width: 19em;
			min-width: 230px;
		}
	}

	.search-box {
		margin: auto;
		width: 70%;
		min-width: 300px;
		max-width: 700px;

		.react-autosuggest__suggestions-container {
			max-height: 50vh !important;
			top: 71px;
		}

		input {
			min-height: 40px;
			max-height: 50px;
			height: 3em;
			margin: $vertical-padding 0;
		}
	}
	
}