.landing-page {
	height: 100%;
	position: relative;
	color: white;
	background-image: url('../img/school.jpg');
	background-size: cover;
	background-position: 50% 50%;

	&::before {
		display: block;
	    content:"";
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    background-color: rgba(0, 0, 0, .5);
	    z-index: 1;
	    overflow: hidden;
	}
	&__content {
		z-index: 2;
		text-align: center;
		padding: 0px 25px;
		@include center-vertical;

		.icon__new-america {
			height: 30px;
			width: auto;
			fill: white;
		}
	}

	&__explore-link, &__methodology-link {
		display: inline-block;
		.icon {
			fill: white;
		}

		a:hover {
			.landing-page__explore-link__secondary, .landing-page__explore-link__primary, .landing-page__methodology-link__primary {
				color: palette-get(na-turquoise);
			}
			.icon {
				fill: palette-get(na-turquoise);
			}
		}
	}

	&__explore-link {
		padding: 10px 11px;
		@include medium {
			padding: $desktop-padding 30px;
		}
		&:first-child {
			border-right: $standard-border;
		}
		&:last-child {
			border-left: $standard-border;
		}

		&__secondary {
			font-size: 13px;
			margin-bottom: 0px;
			color: white;
		}
		&__primary {
			font-weight: bold;
			font-size: 16px;
			color: white;
			@include medium {
				font-size: 20px;
			}
		}
	}

	&__methodology-link {
		padding: 7px 15px;
		@include medium {
			padding: 15px 25px;
		}
		&__primary {
			font-weight: bold;
			font-size: 18px;
			color: white;
			padding-left: 15px;
		}

		&__primary, .icon {
			display: inline-block;
		}
	}


	&__title {
		padding: 25px 0px;
		svg {
			fill: white;
			stroke: white;
			height: 50px;
			width: 300px;
		}
	}

	.search-box {
		margin: auto;
		max-width: 600px;
	}
}