.landing-page {
	height: 100%;
	position: relative;
	color: white;
	background-image: url('../img/school.jpg');
	background-size: cover;
	background-position: 50% 50%;

	&::before {
		display: block;
	    content:"";
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    background-color: rgba(0, 0, 0, .5);
	    z-index: 1;
	    overflow: hidden;
	}
	&__content {
		z-index: 2;
		text-align: center;
		padding: 0px 25px;
		@include center-vertical;

		.icon__new-america {
			height: 38px;
			margin-bottom: 15px;
			width: auto;
			fill: white;
		}
	}

	&__explore-link, &__methodology-link {
		display: inline-block;
		.icon {
			fill: white;
		}

		a:hover {
			.landing-page__explore-link__secondary, .landing-page__explore-link__primary, .landing-page__methodology-link__primary {
				color: palette-get(na-turquoise);
			}
			.icon {
				fill: palette-get(na-turquoise);
			}
		}
	}

	&__explore-link {
		padding: 25px 40px;
		@include small {
			padding: 25px 30px;
		}
		&:first-child {
			border-right: $standard-border;
		}
		&:last-child {
			border-left: $standard-border;
		}

		.icon {
			height: 46px;
			width: 46px;
		}

		&__secondary {
			font-size: 15px;
			margin-bottom: 0px;
			color: white;
			line-height: 1.4;
			padding-top: 5px;
		}
		&__primary {
			font-weight: bold;
			font-size: 23px;
			color: white;
			line-height: 1;
			@include small {
				font-size: 20px;
			}
		}
	}

	&__methodology-link {
		padding: 25px 40px;
		@include small {
			padding: 15px 25px;
		}

		.icon {
			height: 40px;
			width: 40px;
		}

		&__primary {
			font-weight: bold;
			font-size: 19px;
			color: white;
			position: relative;
			bottom: 8px;
			padding-left: 20px;
		}

		&__primary, .icon {
			display: inline-block;
		}
	}


	&__title {
		padding: 15px 0px;
		margin: auto;
		@include small {
			padding: 25px 0px;
			width: 400px;
		}
		svg {
			fill: white;
			stroke: white;
			height: 50px;

			width: 200px;

			@include small {
				width: 400px;
				height: 70px;
			}
		}
	}

	.search-box {
		margin: auto;
		max-width: 800px;

		.react-autosuggest__suggestions-container {
			max-height: 50vh !important;
		}
	}
	
}