.location-profile {
	&__title-container, &__pre-render__title-container {
		height: 600px;
	}
	.react-parallax-bgimage {
		width: 100% !important;
		height: auto !important;
		background-size: cover;
	}
	.react-parallax-content {
		top: 50%;
		transform: translateY(-50%);
	}
	&__title, &__pre-render__title  {
		/*@include center-vertical;*/
		text-align: center;
		text-transform: uppercase;
		color: white;
		font-size: 50px;
	}

	&__pre-render__title {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		color: palette-get(na-black);
	}

	&__body-paragraph {
		max-width: $max-body-width;
		margin: auto;
		
	}
}