.profile-section {
	position: relative;
	&__title-container {
		padding: 50px 0px;
		margin: auto;
		text-align: center;
		max-width: 645px;
		position: relative;
	}
	&__title {
		font-weight: bold;
		margin-bottom: 3px !important;
		font-size: 25px;

		@include breakpoint(medium) {
			font-size: 30px;
		}
	}
	&__subtitle, &__last-updated {
		font-weight: normal;
		color: palette-get(na-black-40);
		font-size: 14px;
	}

	&__subtitle {
		margin-bottom: 10px;
	}

	&__last-updated {
		margin-bottom: 0px;
	}

	&__anchor {
		display: block;
	    position: relative;
	    top: -$top-nav-height*2;
	    visibility: hidden;
	}
}