.profile-header {
	max-height: 550px;
	height: calc(100vh - #{$top-nav-height});
	background-size: cover;
	background-position: 50% 50%;

	&__content {
		position: relative;
		top: 48%;
		transform: translateY(-50%);
		text-align: center;
		z-index: 3;
	}

	&__text {
		color: white;
		text-transform: uppercase;
		font-size: 35px;
		letter-spacing: 2.5px;
		font-weight: 100;
		text-shadow: 0px 0px 50px palette-get(na-black);
		line-height: 1.1;
		padding: 10px 15px 0px 15px;

		@include medium {
			font-size: 75px;
			line-height: 1;
		}

		&.black {
			color: black;
		}
	}

	&__overlay {
		position: absolute;
		z-index: 2;
		background-color: rgba(0,0,0,.3);
		width: 100%;
		max-height: 550px;
		height: calc(100vh - #{$top-nav-height});
		top: 0px;
	}

	&-wrapper {
		position: relative;
		max-height: 550px;
		height: calc(100vh - #{$top-nav-height});
	}

	&__icon {
		margin: auto;
		
		svg {
			width: 65px;
			height: 65px;
			fill: white;
			stroke: white;
			padding: 5px 0px;
		}
	}

	&__attribution {
		position: absolute;
		right: 10px;
		bottom: 3px;
		z-index: 10;
		font-size: 12px;
		& > * {
			color: palette-get(na-black-30);
		}
	}
}