.rankings-dashboard {
	max-width: 1050px;
	margin: auto;

	&__content {
		width: 100%;
	}

	&__max-year {
		text-align: center;
		font-size: 14px;
		color: palette-get(na-black-40);
		font-style: italic;
		margin-bottom: 0px !important;
		padding-top: 20px;

	}
}