.search-box {
	position: relative;
	
   	&.expandable {
   		$transition: width .5s;
   		-webkit-transition: $transition;
	    -moz-transition: $transition;
	    -ms-transition: $transition;
	    -o-transition: $transition;
	    transition: $transition;
   		
	    width: 300px;
	    max-width: calc(100% - 140px);
   		&.hidden {
			width: 0px;
			input {
				padding: 0px;
				border: none;
			}
		}
   	}

   	.react-autosuggest__load-more {
   		z-index: 100;
   		bottom: 0px;
   		position: relative;
   		padding: 10px 25px;
   		color: white;
   		background-color: rgba(59, 61, 67, .95);
   		cursor: pointer;
   		border-top: $standard-border;
   		font-weight: bold;

   		&:hover {
   			background-color: palette-get(na-black);
   		}
   	}
	

	.react-autosuggest__suggestions-container {
		position: absolute;
		width: 100%;
		z-index: 50;
		background-color: palette-get(na-black-05);
		top: 46px;
		color: palette-get(na-black);
		overflow: scroll;
		max-height: calc(100vh - 140px) !important;
	}

	.react-autosuggest__suggestions-list {
	  margin: 0;
	  padding: 0;
	  list-style-type: none;
	}

	.react-autosuggest__suggestion {
		display: flex;
		cursor: pointer;
		padding: 10px 20px;
		width: 100%;
		text-align: left;

		&-div {
			display: table;
		}

		&__text, svg {
			display: table-cell;
			vertical-align: middle;
			margin-top: 5px;
			margin-bottom: 5px;
		}

		svg {
			margin-right: 15px;
			height: 25px;
			width: 25px;
		}

		&__text {
			font-size: 15px;

			& > .highlighted {
				font-weight: bold;
				color: palette-get(na-dark-turquoise);
			}
		}
	}

	.react-autosuggest__suggestion:not(:first-child) {
	  border-top: $standard-border;
	}

	.react-autosuggest__suggestion--focused {
	  background-color: palette-get(na-turquoise);
	  color: white;

	  .icon {
	  	fill: white;
	  }

	  .highlighted {
	  	color: white;
	  }
	}

	.name {
	  margin-left: 68px;
	  line-height: 45px;
	}

	&__icon {
		height: 25px;
		width: 25px;
		svg {
			fill: white;
			height: 25px;
		}
	}

	&__loading-placeholder {
		width: 100%;
	}
}