.section-nav {
	width: 100%;
	background-color: palette-get(na-black-10);
	height: 72px;
	z-index: 100;

	&.fixed {
		position: fixed;
		top: $top-nav-height;
		left: 0px;
	}

	&__placeholder {
		&.fixed {
			height: $top-nav-height;
		}
	}

	&__items {
		margin: auto;
		text-align: center;
	}

	&__item {
		display: inline-block;
		padding: 14px 30px;
		vertical-align: middle;

		&:hover {
			background-color: palette-get(na-black-30);
			.section-nav__item__text {
				color: white;
			}
			.icon {
				fill: white;
			}
		}

		.icon {
			fill: palette-get(na-black);
			height: 20px;
			width: auto;
		}
		&__text {
			font-size: 16px;
			line-height: 1;
			margin-bottom: 0px;
		}
	}
}