.top-nav {
	height: $top-nav-height;
	background-color: palette-get(na-black);
	width: 100%;
	position: fixed;
	z-index: 11;

	&__title {
		width: 100%;
		max-width: calc(100% - 120px);
		text-align: center;
		margin: 0px 60px;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		overflow: hidden;

		&__decorator {
			font-size: 25px;
			padding-left: 3px;
			display: none;
			@include medium {
				display: inline-block;
				position: relative;
				top: -3px;
			}
		}
		&__primary {
			display: inline-block;
			font-weight: normal;
			color: white;
			margin-bottom: 0px;
			overflow-wrap: normal;
			line-height: 1.1;
			font-size: 25px;

			@include medium {
				font-size: 32px;
			}

			.turquoise {
				color: palette-get(na-turquoise);
				text-transform: uppercase;
			}

			.icon {
				fill: white;
				width: auto;	
				display: inline-block;
				height: 17px;
				margin-left: 10px;
				@include medium {
					height: 22px;
				}
			}
		}
		&__secondary {
			display: inline-block;
			font-weight: normal;
			font-size: 13px;
			color: white;
			margin-bottom: 0px;
			height: 15px;
			line-height: 15px;
			padding: 0 7px;
			position: relative;
			bottom: 6px;
		}

		&__left {
			display: inline-block;
			padding-right: 3px;
		}

		&__right {
			white-space: nowrap;
			display: none;

			@include medium {
				display: inline-block;
			}
		}
	}

	.search-box__icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 25px;
		cursor: pointer;
	}

	.search-box {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 65px;

		input {
			background-color: palette-get(na-black);
			color: white;
			margin: 0px;
		}
	}
	
}