.admin__home {
	padding: 25px;

	&__title {
		font-size: 2.5rem
	}

	&__heading {
		font-weight: bold;
	}

	&__section {
		padding: 20px 0px;
	}

	&__main-link, &__sub-link {
		font-size: 16px;
		font-weight: bold;
		color: palette-get(na-turquoise);

		&:hover {
			color: palette-get(na-black);
		}
	}

	&__sub-link-list {
		padding-top: 15px;
		columns: 2;
		width: 100%;
		list-style: disc !important;
	}
	&__sub-link-list-item {
		padding-right: 10px;
		width: 50%;
		display: block;
		list-style-type: disc !important;
	}

	hr {
		margin: 0px;
	}
}