html, body {
	background-color: white;
	color: palette-get(na-black);
	height: 100%;
}

#main {
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: bold;
}

hr {
	border-bottom: $standard-border;
}

select {
	border: $standard-border;
	cursor: pointer;
	background: url(shape-urls-get(down-arrow-na-black)) no-repeat;
	background-size: 12px 12px;  
	padding: 0px 30px 0px 10px;
	background-position-y: center;
	background-position-x: 97%;
	-webkit-appearance: none;
    -moz-appearance: none;
		
}
	

a:not(.button):hover {
	@include set-color(color);
}

.button {
	font-weight: bold;
	color: white;
	vertical-align: initial;
	@include set-color(background-color);
	@include standard-shadow;

	&:hover {
		@include set-light-color(background-color);
		@include hover-shadow;
		color: white;
	}

	&.black {
		background-color: palette-get(na-black);
		&:hover {
			background-color: palette-get(na-light-black);
		}
	}
	&.transparent {
		background-color: white;
		border: 2px solid palette-get(na-black-10);
		color: palette-get(na-black);
	}
}

input, select {
	height: $default-input-height;
    box-sizing: border-box;
    width: 100%;
    height: 3.3175rem;
    margin: 0 0 1.73rem;
    padding: .865rem;
    border: 2px solid #e0e0e1;
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.65;
    color: #0a0a0a;
    transition: box-shadow .5s,border-color .25s ease-in-out;
}

.app-container {
	height: 100%;
	overflow-x: hidden;
}

.top-nav-shifted-content {
	padding-top: $top-nav-height;
}
