$top-nav-height: 70px;

$max-body-width: 800px;

$standard-border: 2px solid palette-get(na-black-10);

$default-input-height: 46px;

$font-url: "https://na-fonts.s3.amazonaws.com";

$sidemenu-width: 275px;

$sidemenu-transition: transform 200ms ease-in .05s;